


body{
    background-color: whitesmoke;
}

#root{
    max-width: 8.5in;
    margin: 0 auto;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.4);
    padding: 20px;
    background-color: white;
}

h1,h2,h3,h4,h5,h6{
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    margin-top:0;
}

.grid{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

.grid.around{
    justify-content: space-around;
}



h1{
    font-size: 2em;

    font-weight: 800;
    text-align: center;
}

h1{
    font-size: 3em;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    text-align: center;
}

.section > .header{
    border-bottom: 0.3em solid #1dd985;
    margin-bottom: 5px;
}

.header{
    margin-bottom: 2px;
    margin-top: 10px;
}

.inline{
    display: inline;
}

.right-top-header{
    float: right;
    display: inline;
    text-align: right;
}

.right-top-header h1{
    margin-bottom:-20px;
}

.right-top-header *:not(h1){
    margin-bottom: -12px;
}

.inline-header{
    display: inline-block;
    margin-top: 5px;
    margin-bottom: -2px;
}

div.column{
    margin: 0 5px;
}

.job .results{
    margin: 5px 0;
}

.tag{
    display: inline-block;
    border: 1px solid #1dd985;
    font-size: 0.7em;
    padding: 0 4px;
    border-radius: 500em;
    margin-left: 3px;
    line-height: 1.5em;
}

div.proficiency-level{
    background-color: #1dd985;
    padding: 0 6px;
    display: inline-block;
    border-radius: 500em;
    line-height: 1.6em;
    float:right;
}

p,span{
    font-family: 'Titillium Web', serif;
    /*font-weight: 300;*/
    font-size: 0.85em;
}

p{
    margin-top: 0;
    margin-bottom: 5px;
}

div.circle{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 500em;
    border: 4px solid #1dd985;
    font-family: 'Poppins', sans-serif;
    background-color: #1dd985;
    /*color: white;*/
}

.circle.outline{
    background-color: transparent !important;
    /*color: #1dd985;*/
}

.centered-column{
    text-align: center;
    width: 100%;
}

.grid.bottom{
    padding-top: 20px;
}

@media print{
    #root{
        max-width: unset;
        box-shadow: none;
    }
    .page-break{
        page-break-after: always;
    }

    .page-break + *{
        margin-top: 20px;
    }

    body{
        background-color: white;
    }

    .grid.bottom{
        position: fixed;
        bottom:0;
        left:0;
    }
}

